body {
    background: var(--while_light);
}

* {
    font-family: helvetica;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --blue: #1e90ff;
    --white: #f5f5f7;
    --black: #1d1d1d;
    --blackL: #1d1d17;
    --red: #ff2525;
}

.light-theme {
    --while_light: var(--white);
    --black_ligth: var(--black);
    --while_const: var(--white);
    --black_const: var(--black);
}

.dark-theme {
    --while_light: var(--black);
    --black_ligth: var(--white);
    --while_const: var(--white);
    --black_const: var(--black);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}


/* .......Кнопка смены темы......... */

.btnTheme {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
    border-color: var(--blue);
    color: var(--black_ligth);
    background-color: var(--while_light);
}

.btnTheme:focus {
    outline-style: none;
}


/* ..........Голова......... */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--black_const);
    width: 100%;
    height: 58px;
}

.header_inner {
    justify-content: space-between;
    display: flex;
}

.header_inner_rigth {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header_inner_left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

hr {
    border: 1px solid;
    border-color: var(--blue);
    margin-bottom: 25px;
}

.header a {
    text-decoration: none;
    color: var(--while_const);
}

.headerButton button {
    background: none;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

#bgIcon {
    fill: var(--while_light);
    stroke: var(--black_ligth);
}

#dgIconAc {
    fill: var(--black_ligth);
}

.header_item {
    padding: 7px 15px;
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
}

.header_item:hover {
    transition: 0.3s all;
    background-color: #676767;
    border-radius: 4px;
}


/*...............Модальное окно логина...............*/

.modal form {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    width: 400px;
    height: 50%;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black_ligth);
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid var(--black_ligth);
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 18px 0;
    margin: 8px 0;
    border-bottom: 1px solid var(--black_ligth);
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: var(--black_ligth);
    font-size: 18px;
    width: 95%;
    float: left;
    margin: 0 10px;
    opacity: 0.5;
}

.textbox input:focus {
    opacity: 1;
    background-color: var(--while_light);
    color: var(--black_ligth);
}

.btnSin {
    width: 100%;
    background: none;
    border: 2px solid var(--black_ligth);
    color: var(--black_ligth);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 30px 0;
}

.btnSin:hover {
    transition: 0.3s all;
    background-color: var(--black_ligth);
    color: var(--while_light);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto;
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: var(--while_light);
    border: 3px solid;
    border-color: var(--blue);
    border-radius: 40px;
    overflow-y: hidden;
}

.modalClose {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: var(--black_ligth);
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modalClose:hover {
    transition: 0.3s all;
    color: var(--black_ligth);
    opacity: 1;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: var(--red);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}

.modal__content hr {
    margin-top: 410px;
    margin-left: 35px;
    border: 2px solid;
    border-color: var(--textColorBody);
    width: 425px;
}

.log_icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-size: 20px;
    color: var(--black_ligth);
}

.log_icones button {
    padding: 5px 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hideImg img {
    display: none;
}

.showImg img {
    display: block;
}


/* .........Контент каталога........ */

.catalog_example_ad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work {
    height: 414px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 4px var(--black_ligth);
    border-radius: 10px;
}

.work:hover {
    transition: 0.3s all;
    box-shadow: 0 0 25px var(--black_ligth);
}

.photos img {
    height: 220px;
    width: 300px;
    flex-shrink: 0;
}

.hide-picture {
    display: flex;
}

.right-button,
.left-button {
    z-index: 99;
    color: var(--black_ligth);
    font-size: 35px;
}

.swap-btn {
    display: flex;
    justify-content: space-between;
}

.work_content {
    padding: 1rem 0.8rem;
}

.work_category {
    font-size: 0.75rem;
    color: var(--black_ligth);
    text-transform: uppercase;
}

.work_title {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--black_ligth);
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
}

.work_price {
    color: var(--black_ligth);
}

.work_btn_price {
    display: flex;
}

.work_btn_price button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    stroke: var(--black_ligth);
    fill: var(--black_ligth);
    border: 2px solid;
    border-radius: 6px;
    border-color: var(--black_ligth);
}

.work_btn_like button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    stroke: var(--black_ligth);
    fill: var(--black_ligth);
}

.work_btn_like2 button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    stroke: var(--black_ligth);
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.work_btn_like {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 6px;
    border-color: var(--black_ligth);
}

.work_counter_like {
    padding: 10px;
    color: var(--black_ligth);
}


/*...............Добавлние поста...................*/

.post_add {
    color: var(--black_ligth);
}

.content_block {
    margin: 10px;
    background: none;
    color: var(--black_ligth);
    border: 3px solid;
    /* border-radius: 30px; */
    width: 100%;
}

.input_post_add {
    margin: 10px;
    width: 52%;
    background: var(--while_light);
    border: 3px solid;
    border-color: var(--black_ligth);
    border-radius: 10px;
    font-size: 13pt;
    padding: 10px;
    outline: 0;
    outline-offset: 0;
    color: var(--black_ligth);
}

#publish_post {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 45px 45px var(--black_ligth) inset, 0 0 0 0 var(--black_ligth);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--while_light);
    transition: 0.15s ease-in-out;
}

#publish_post:hover {
    box-shadow: 0 0 10px 0 var(--black_ligth) inset, 0 0 10px 4px var(--black_ligth);
    color: var(--black_const);
}

.title_post_add {
    font-size: 32px;
    line-height: 34px;
    font-weight: 600px;
    margin: 48px 15px 30px;
}

.text_h3_post_add {
    font-size: 24px;
    margin-top: 10px;
    position: relative;
}

.text_h4_post_add {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}


/*........Load photos........*/

.add_photos {
    border: 2px dashed var(--black_ligth);
    height: 150px;
    width: 170px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 10px 20px;
}

.add_photos.active {
    border: 2px solid var(--white_ligth);
}

#upload-photo-icon {
    fill: var(--black_ligth);
}

.add_photos button {
    padding: 10px 25px;
    font-weight: 500;
    border: none;
    outline: none;
    background: var(--white_ligth);
    border-radius: 5px;
    cursor: pointer;
}

.add_photos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contant_photo_add {
    display: flex;
}


/*........Choosing category manue........*/

.select-box {
    position: relative;
    display: flex;
    width: 500px;
    margin: 10px;
    flex-direction: column;
}

.select-box .options-container {
    background: var(--black_ligth);
    color: var(--while_light);
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: var(--black_ligth);
    border-radius: 8px;
    margin-bottom: 8px;
    color: var(--while_light);
    position: relative;
    order: 0;
}

.selected::after {
    content: '';
    background: url('/svg/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: var(--black_ligth);
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: var(--while_light);
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: var(--black_ligth);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}


/* Searchbox */

.search-box input {
    width: 100%;
    padding: 12px 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid var(--black_ligth);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active~.search-box input {
    opacity: 1;
    pointer-events: auto;
}


/*........Advertisment page........*/

.photo2 {
    width: 1200px;
    height: 500px;
}

.photo_advertisment {
    height: 500px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 4px var(--black_ligth);
    border-radius: 10px;
}

.photo_advertisment img {
    width: 100%;
    height: 100%;
}

.catalog_example_ad2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#buy-button {
    text-decoration: none;
    display: inline-block;
    margin-left: 80px;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 45px 45px var(--black_ligth) inset, 0 0 0 0 var(--black_ligth);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--while_light);
    transition: 0.15s ease-in-out;
}

#buy-button:hover {
    box-shadow: 0 0 10px 0 var(--black_ligth) inset, 0 0 10px 4px var(--black_ligth);
    color: var(--black_const);
}


/*......Letters counter.......*/

#my-textarea {
    height: 150px;
    width: 51%;
    border-radius: 10px;
    margin-left: 10px;
    outline: 0;
    background: var(--while_light);
    border: 3px solid var(--black_ligth);
}

#my-textarea-remaining-chars {
    color: var(--black_ligth);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#my-input-remaining-chars {
    color: var(--black_ligth);
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    text-align: center;
}

.more-information {
    color: var(--black_ligth);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}